<div class = "container">
  <div class = "row center-align">
    <h3>Log In</h3>

    <div>
      <h2><%= flash[:error] %></h2>
    </div>

    <div id = "login">
      <%= form_for @user, url: "/sessions", method: "post" do |f| %>
        <div>
          <%= f.text_field :username, placeholder: "username" %>
        </div>
        <br>
        <div>
          <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <br>
          <%= f.submit "Submit"%>
      <% end %>
    </div>

  </div>
</div>
