<h3>Sign Up</h3>

<%= form_for @user do |f| %>
  <div>
    <span class="label label-default"></span><%= f.text_field :username, placeholder: "Provide a username if you would like to" %>
  </div>
  <br>
  <div>
    <span class="label label-default"></span><%= f.text_field :email, placeholder: "Email" %>
  </div>
  <br>
  <div>
    <span class="label label-default"></span><%= f.password_field :password, placeholder: "Password" %>
  </div>
  <br>
  <div class="userSubmitButton"><%= f.submit "Submit"%></div>
<% end %>
