<div>
  <p><%= flash[:notice] %></p>
</div>
<div class = "container">
  <div class = "row">
    Welcome <%= @user.username %>
    <br>
    Email: <%= @user.email %>
    <br>
    <%= button_to "Edit Profile", edit_user_path, method: "get" %>
    <br>
    <%= link_to "Log Out", logout_path %>
  </div>
  
  <div class = "row">
    <% @posts.each do |post| %>

    Title: <%= post.title %>
    <br>
    Post Body: <%= post.content %>
    <br>
    Words in this post: <%= post.words_counted %>
    <br>
    <%= button_to "Cloudify", cloud_path(:user_id => @user.id, :post_id => post.id), method: :get%>
    <hr>

    <% end %>
  </div>


  <br>
  <br>


</div>
