<div>
  <p><%= flash[:notice] %></p>
</div>
<div class = "container">
  <div class = "row">
    <div class = "col l4 m4 s4">
      Welcome <%= @user.username %>
      <%= button_to edit_user_path, method: "get", class: "fa fa-pencil-square-o" do %>
        <i aria-hidden="true">Edit Profile</i>
      <% end %>
    </div>
    <div class = "col l4 m4 s4">
      <p>Number of Entries</p>
      <%= Post.count %>
      <%= button_to new_user_post_path(:user_id => @user.id), method: :get, class: "fa fa-pencil" do %>
        <i aria-hidden="true">Write a Reflection</i>
      <% end %>
    </div>
    <div class = "col l4 m4 s4">
      <p>test test test<p>
    </div>
  </div>

  <div class = "row">
    <% @posts.each do |post| %>

    Title: <%= post.title %>
    <br>
    Post Body: <%= post.content %>
    <br>
    Words in this post: <%= post.words_counted %>
    <br>
    <%= button_to "Cloudify", cloud_path(:user_id => @user.id, :post_id => post.id), class: "waves-effect waves-light btn", method: :get%>
    <hr>

    <% end %>
  </div>


  <br>
  <br>


</div>
