<div class = "container">
  <div class = "center-align" id="reflect-how-to">
    <h4>Reflecting 101</h4>
    <span>To begin Reflecting, use the slider to rate your current mood and then write your entry. After you've finished writing, re-rate your mood and submit your post.</span>
  </div>
    <div id="entry-window" class = "col l10 m10 s10">
    <%= form_for ([@user,@post]) do |f| %>
      <div class="range-field">
        <%= f.label "Rate how you feel now" %>
        <%= f.range_field :init_rating, in: 0..10, step: '.1', value: 5%>
      </div>
      <div class = "col l10 m10 s10">
        <i class="fa fa-frown-o fa-3x" aria-hidden="true"></i>
        <i class="fa fa-meh-o fa-3x" aria-hidden="true"></i>
        <i class="fa fa-smile-o fa-3x" aria-hidden="true"></i>
      </div>
      <!-- <p>
        <input type="checkbox" id="init-check" />
        <label for="init-check">Confirm Rating</label>
      </p> -->
      <!-- <span>Write Post Call To Action</span> -->
      <div>
        <%= f.text_field :title, placeholder: "Title your entry", type: "text" %>
      </div>
      <div>
        <%= f.text_area :content, placeholder: "Write your post here", style: "height: 400px;" %>
      </div>
      <div class="range-field">
        <%= f.label "Rate how you feel now, after completing your entry" %>
        <%= f.range_field :end_rating, in: 0..10, step: '.1', value: 5%>
      </div>
      <div class = "col l10 m10 s10">
        <i class="fa fa-frown-o fa-3x" aria-hidden="true"></i>
        <i class="fa fa-meh-o fa-3x" aria-hidden="true"></i>
        <i class="fa fa-smile-o fa-3x" aria-hidden="true"></i>
      </div>
      <!-- <p>
        <input type="checkbox" id="end-check" />
        <label for="end-check">Confirm Rating</label>
      </p> -->
      <%= f.submit "Submit", class: "btn" %>
    <% end %>
  </div>
</div>
