<div class = "container">
  <div id="entry-window" class = "col l10 m10 s10">
    <span>To begin Reflecting, rate your current mood and lock it in by checking the box. Title and write your entry. Finally, re-rate your mood now that you've had a chance to write about your feelings.</span>
    <%= form_for ([@user,@post]) do |f| %>
      <div class="range-field">
        <%= f.label "Rate how you feel now" %>
        <%= f.range_field :init_rating, in: 1..10%>
      </div>
      <div>
        <%= f.text_field :title, placeholder: "Title your entry", type: "text" %>
      </div>
      <div>
        <%= f.text_area :content, placeholder: "Write your post here", style: "height: 400px;" %>
      </div>
      <div class="range-field">
        <%= f.label "Rate how you feel now, after completing your entry" %>
        <%= f.range_field(:end_rating, in: 1..10)%>
      </div>
      <%= f.submit "Submit"%>
    <% end %>
  </div>
</div>
