<!DOCTYPE html>
<html>
  <head>
    <title>Reflect</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/e1d67c9fed.js"></script>
  </head>

  <body>

    <div class = "navbar-fixed">
      <nav class = "z-depth-2">
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="left">
            <li><a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
          </ul>
          <a href="/" class="brand-logo center">Reflect</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if current_user %>
              <li><%= link_to "Log Out", logout_path, class: "waves-effect waves-light btn" %></li>
            <% else %>
              <li><%= link_to "Log In", new_session_path, class: "waves-effect waves-light btn" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>

  </body>
</html>
